<div class="container my-2">
  <div class="d-flex justify-content-between align-items-center">
    <%- include('label', { title: 'Listings' }) %>
    <%- include('dropdown'), { genres } %>
  </div>
</div>