<% let dropdownBtnSortData = {
  btnSortTitle, 
  isBtnHide: false
} %>

<% let dropdownBtnFilter = {
  genres, 
  btnFilterTitle, 
  isBtnHide
} %>

<div class="container my-3">
  <div class="d-flex justify-content-between align-items-center gap-1">
    <%- include('label', { title: name || 'Listings' }) %>
    <%- include('dropdownBtnSort'), { ...dropdownBtnSortData } %>
    <%- include('dropdownBtnFilter'), { ...dropdownBtnFilter } %>
  </div>
</div>