<div class="dropdown <%= isBtnHide ? 'd-none' : '' %>">
  <button class="btn bg-body-tertiary btn-sm rounded-3 border-0 shadow-sm dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <%= btnFilterTitle %>
  </button>

  <ul class="dropdown-menu border border-secondary-subtle bg-body-tertiary shadow-sm">
    <li><a class="dropdown-item" href="/movie">All</a></li>
    <% genres.forEach(genre => { %>
    <li><a class="dropdown-item" href="/movie/?genre=<%= genre %>"><%= genre %></a></li>
    <% }) %>
  </ul>
</div>