<div class="dropdown <%= isBtnHide ? 'd-none' : '' %>">
  <a class="btn bg-body-tertiary btn-sm rounded-3 border-0 shadow-sm dropdown-toggle disabled" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <%= btnSortTitle || 'Sort' %>
  </a>

  <ul class="dropdown-menu border border-secondary-subtle bg-body-tertiary shadow-sm">
    <li><a class="dropdown-item" href="/movie">Most Popular</a></li>
    <li><a class="dropdown-item" href="/movie">By Year</a></li>
  </ul>
</div>