<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3">
    <% movies.forEach(movie => { %>
    <div class="col">
      <%- include('movieCard', { movie, isHide: false }) %>
    </div>
    <% }) %>
  </div>
</div>