<!-- Navigation Bar -->
<nav class="navbar bg-body-tertiary border-0 sticky-top shadow-sm">
  <div class="container">
    <span class="navbar-brand mb-0 h1 fw-bold" onclick="window.location = '/'" style="cursor: pointer;">Movify <span class="badge text-bg-secondary">Server</span></span>
    <button id="darkmode-toggle" class="btn btn-success btn-md"></button>
  </div>
</nav>