<!doctype html>
<html lang="en">

<%- include('partials/head', { ...headData }) %>

<body>
  <%- include('partials/navbar') %>
  <%- include('partials/notFound', { customErrMsg }) %>
  <%- include('partials/script') %>
</body>

</html>